.ss{
    color: rgb(135, 71, 10);
    font-size:x-large;
  
  
    font-weight: 2500;
 }
 
 form{
     height:fit-content;
     width: max-content;
     background-color: rgb(149, 235, 87);
     align-items: center;
     position:relative;
     margin-left: 33%;
     margin-top: 2%;
     padding: 28px;
     border-radius: 5%;
     border-style :double;
 }
 
 body{
     background-color: rgb(214, 230, 229);
 }
 
 input{
     padding: 5px;
 }
 
 select{
     padding: 5px;
 }
 
 textarea{
     padding: 15px;
 }
 
 h1{
     margin-left: 100px;
     padding-bottom: 10px;
 }
 
 button {
     background-color: #4caf9d; /* Green */
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin-left: 170px;
     margin-top: 20px;
     
   }